.box-img {
    top:0px;
    left:0px;
    width:1520px;
    height:720px;
    background-image: url("bg.2.jpg");
    background-size: cover;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
.box-logo {
    width:50px;
    height:60px;
    margin-left: 40px;
    position: absolute;
    top:20px;
    background-image: url("MOvie.jpg");
    color:white;
    background-size:cover;
    background-color: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box-logo p {
    margin-left: 53px;
    margin-top: 50px;
    font-size: 2.5rem;
    font-family: "Calibri";
}
.nav-sec ul{
    width:600px;
    position: absolute;
    right:30px;
    top:30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
}
.nav-sec li {
    display:inline;
    font-size: 1.2rem;
    font-weight: 400;
    font-family:Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color:whitesmoke
}
.nav-sec a {
    color:whitesmoke;
    text-decoration: none;
}
.nav-sec li .active::after {
    content: '';
    width:100%;
    height:3px;
    margin-top: 3px;
    background-color: orangered;
    display: flex;
    position: relative;
}
.msg {
    position: absolute;
    left:100px;
    top:250px;
    display:block;
    justify-content:flex-start;
    align-items: center;
    font-size:75px;
    color:white;
    font-family: brisk 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 199;
}
.button1 {
    position: absolute;
    top:620px;
    left:100px;
    display: flex;
    width:125px;
    height:40px;
    background-color: rgb(209, 231, 7);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.travel-msg {
    position:absolute;
    top:525px;
    left:100px;
    font-size: 1.2rem;
    color: orangered;
    font-weight: 400;
    font-family:Calibri, 'Trebuchet MS', sans-serif;
}
.boxes {
    width:700px;
    display:flex;
    justify-content: space-evenly;
    position: absolute;
    top:270px;
    left:800px;
}
.box1 {
    width:200px;
    height: 300px;
    background-color: rgb(12, 12, 12);
    color:white;
    border-radius: 15px;
    background-image: url("kgf.jpg");
    background-size: cover;
}
.box2 {
    width:200px;
    height: 300px;
    background-color: rgb(12, 12, 12);
    color:white;
    border-radius: 15px;
    background-image: url("shadit.jpg");
    background-size:100%;
}
.box3 {
    width:200px;
    height: 300px;
    background-color: rgb(12, 12, 12);
    color:white;
    border-radius: 15px;
    background-image: url( "wednesday.jpg");
    background-size: cover;
}
.beach {
    color:black;
    position: absolute;
    top:-10px;
    left:80px;
    font-size: 1.5rem;
    font-family:Times, 'Times New Roman', serif;
    font-weight: 400px;
    align-items: center;
}
.hotel {
    color:black;
    position: absolute;
    top:-10px;
    left:300px;
    font-size: 1.5rem;
    font-family:Times, 'Times New Roman', serif;
    font-weight: 400px;
    align-items: center;
}
.nature {
    color:black;
    position: absolute;
    top:-10px;
    left:520px;
    font-size: 1.5rem;
    font-family:Times, 'Times New Roman', serif;
    font-weight: 400px;
    align-items: center;
}
.beach-button {
   position: absolute;
   top:310px;
   left:55px;
   background-color: rgb(37, 71, 76);
   border-radius: 20px;
   height:40px;
   width:20%;
   color:white;
}
.hotel-button {
    position: absolute;
    top:310px;
    left:275px;
    background-color: rgb(37, 71, 76);
    border-radius: 20px;
    height:40px;
    width:20%;
    color:white;
 }
 .nature-button {
    position: absolute;
    top:310px;
    left:505px;
    background-color: rgb(37, 71, 76);
    border-radius: 20px;
    height:40px;
    width:20%;
    color:white;
 }
 .destinations {
    width:1520px;
    height:850px;
    background-image: url(bg5.jpg);
    background-color: #e6eaf0;
    
 }
 .text1 {
    font-size:2.5rem;
    text-align: center;
    position: relative;
    top:100px;
    color:whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }
 .msg2 {
    position: relative;
    top:120px;
    color: red;
    text-align: center;
    font-size:1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 .travel-boxes {
    margin-top:150px;
    position: absolute;
    display:flex;
    margin-left:180px;
    flex-direction: row;
    flex-wrap: wrap;
 }
 div .flex-box{
    height:250px;
    width:250px;
    border:5px solid rgb(53, 53, 53);
    margin:20px;
    text-align:center;
    border-radius:20px;
    justify-content: space-evenly;
 }
 .place {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-top: 190px;
   height:50px;
   width:120px;
   position: relative;
   left:68px;

   background-color: rgb(223, 183, 183);
   border-radius: 15px;
   font-family: Tahoma, Geneva, Verdana, sans-serif;
 }
 .place p {
   font-weight: 600;
   background-image: url(bg.2.jpg);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 .leh {
   background-image: url("enG.JPG");
   background-size: cover;
 }
 .dubai {
   background-image: url("hindi2.jpg");
   background-size: auto;
 }
 .rishikesh {
   background-image: url("sahoo.jpg");
   background-size:cover;
 }
 .singapore {
   background-image: url("tamil.jpg");
   background-size: cover;
 }
 .bali {
   background-image: url("malayalam.jpg");
   background-size: cover;
 }
 .kasol {
   background-image: url("chinese.jpg");
   background-size: cover;
 }
 .gulmarg {
   background-image: url("korea.jpg");
   background-size: cover;
 }
 .goa {
   background-image: url("japan.JPG");
   background-size: cover;
 }
 .bottom {
   width:1520px;
   height:180px;
   background-color: rgb(79, 145, 139);
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
 }
  
 .dim {
   display: flex;
   align-items: center;
   justify-content: center;
   color:white;
   border: 3px solid white;
   width:50px;
   height:50px;
   border-radius: 50px;
   font-size: 1.5rem;
 }
 .symbol {
   width:300px;
   height:50px;
   color:white;
   margin-left: 1100px;
   position: absolute;
   top:1605px;
   font-size: 1.5rem;
   font-family: sans-serif;
 }